---
import Layout from '../layouts/Layout.astro';
import MarkdownRenderer from '../components/Markdown.astro';
import ShaderCanvas from '../components/ShaderCanvas.astro';

import { getEntry, render } from 'astro:content';
const post = await getEntry('posts', 'test');

const { Content, headings } = await render(post);
---

<ShaderCanvas />

<Layout>
    <div>
        <!MarkdownRenderer id="test"/>
    </div>
</Layout>



