---
import Layout from '../layouts/Layout.astro';
import MarkdownRenderer from '../components/Markdown.astro';

import { getEntry, render } from 'astro:content';
const post = await getEntry('posts', 'test');

const { Content, headings } = await render(post);
---

<Layout>
    <div>
        <!MarkdownRenderer post_id="test"/>
        <Content />
    </div>
</Layout>