---
import ShaderCanvas from "../components/ShaderCanvas.astro";
import fragment_shader from "../assets/index.glsl?raw";
import MarkdownPost from '../layouts/MarkdownPost.astro';
import Content from '../content/test.md';
---

<MarkdownPost title="My Post">
	<Content />
</MarkdownPost>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>GLSL Shader</title>
	<style>
		html, body {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background: transparent;
		}

		p {
			color: white;
		}
	</style>
</head>

<body>
<ShaderCanvas fragment_shader={fragment_shader} />
<p>TEST</p>
</body>
</html>