---
import {
	DEFAULT_COLOR_PRIMARY,
	DEFAULT_COLOR_SECONDARY,
	DEFAULT_COLOR_FOREGROUND,
	DEFAULT_COLOR_BACKGROUND,
	DEFAULT_COLOR_MUTED,
	DEFAULT_COLOR_EMPHASIZED
} from "../styles/default.ts";

import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="generator" content={Astro.generator} />

	<title>Chroma Drift</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Noto+Sans&family=Noto+Sans+Mono&family=Noto+Sans+Math&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>

	<style is:global define:vars={{
		default_color_primary: DEFAULT_COLOR_PRIMARY,
		default_color_secondary: DEFAULT_COLOR_SECONDARY,
		default_color_foreground: DEFAULT_COLOR_FOREGROUND,
		default_color_muted: DEFAULT_COLOR_MUTED,
		default_color_emphasized: DEFAULT_COLOR_EMPHASIZED,
		default_color_background: DEFAULT_COLOR_BACKGROUND,
	}}>
		:root {
			--default-font-heading: "DejaVu Sans", "Cantarell", sans-serif;
			--default-font: "Adwaita Sans", "Noto Sans", sans-serif;
			--default-font-mono: "DejaVu Sans Mono", "Noto Sans Mono", monospace;
			--default-color-primary: var(--default_color_primary);
			--default-color-secondary: var(--default_color_secondary);
			--default-color-foreground: var(--default_color_foreground);
			--default-color-muted: var(--default_color_muted);
			--default-color-emphasized: var(--default_color_emphasized);
			--default-color-background: var(--default_color_background);
			--default-content-width: 66.6666vw;
			--default-frame-thickness: 6px;

			background: transparent;
		}
	</style>
</head>

<body>
<slot />
</body>

</html>
