<!doctype html>
<html lang="en">
<head>
	<title>Chroma Drift</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Noto+Sans&family=Noto+Sans+Mono&family=Noto+Sans+Math&display=swap" rel="stylesheet">

	<!-- katex -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>

	<meta name="generator" content={Astro.generator} />
</head>
<body>
<slot />
</body>
</html>