---
import { getEntry } from 'astro:content';

interface Props {
    markdown_path: string;
    title?: string;
}

const { markdown_path, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet" />
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        :root {
            --page-background: transparent;
            --card-background: #202025;
            --card-width: 66vw;
            --card-padding-horizontal: 80px;
            --card-padding-top: 40px;
            --card-padding-bottom: 80px;

            --card-margin-top: 40px;
            --card-margin-bottom: 40px;

            --text-color: #dcdce1;


            --letter-spacing-body: -0.015em;
            --line-height-body: 1.35;

            --letter-spacing-mono: +0.01em;
            --line-height-mono: 1.4;

            --code-background: #ffffff;
            --code-margin-vertical: 0.2em;
            --code-margin-horizontal: 0.45em;

            --font-body: 'Canterelle', 'Verdana', Geneva, sans-serif;
            --font-mono: 'DejaVu Sans Mono', 'Courier New', monospace;
        }

        body {
            background-color: var(--page-background);
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            color: var(--text-color);
            font-family: var(--font-body);
            letter-spacing: var(--letter-spacing-body);
            line-height: var(--line-height-body);
        }

        .astro-code {
            font-family: var(--font-mono);
        }

        .markdown_card {
            background-color: var(--card-background);
            max-width: var(--card-width);
            width: 100%;
            margin: var(--card-margin-top) var(--card-margin-bottom);
            padding: var(--card-padding-top) var(--card-padding-horizontal) var(--card-padding-bottom);
        }
    </style>
</head>

<body>
<div class="page_wrapper">
    <article class="markdown_card">
        <div class="markdown_body">
            <slot />
        </div>
    </article>
</div>
</body>
</html>