---
//
// Usage: <Footer author="Jim Bobbins"/>
//

interface Props {
    author: string;
}

const { author } = Astro.props;

if (!author) {
    throw new Error("In Footer: `author` property not specified");
}

const currentYear = new Date().getFullYear();

import "../styles/default.css";
---

<style>
    footer {
        font-family: var(--default-font);
        color: var(--default-color-foreground);
        -webkit-text-stroke: 3px var(--default-color-background);
        -webkit-text-fill-color: var(--default-color-foreground);
        paint-order: stroke fill;
        text-align: center;
        opacity: 0.75;
    }

    footer a {
        color: inherit;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-decoration-color: black;
    }

    footer a:hover {
        text-decoration-style: solid;
        opacity: 1;
    }
</style>

<footer>
    <p> &copy; {currentYear} {author} | Licensed <a href=" https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
        CC BY-NC-SA</a>
    </p>
</footer>
