---
import { getEntry, getCollection } from "astro:content";
---

<style>
    .markdown-container {
        max-width: var(--default-content-width, 100%);
        margin-inline: auto;
        box-sizing: border-box;
        display: block;
    }

    .frame-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
    }
</style>

<div class="markdown-container">
    <div class="frame-wrapper">
    </div>
</div>