---
import { getEntry, render } from 'astro:content';

interface Props {
    id: string;
}

const { id } = Astro.props;

const post = await getEntry('posts', id);

if (!post) {
    throw new Error(`no post width id "${id}" at "src/content/posts/${id}.md"`);
}

const { Content } = await render(post);
---

<style>
    :root {
        --heading-color: #e2e2e2;
        --text-color: #e2e2e2;
        --code-color: #E3E3E3;
        --math-color: #E3E3E3;

        --background-color: #2B2D30;
        --margin-top: 40px;
        --margin-bottom: 40px;
        --margin-left: auto;
        --margin-right: auto;

        --font-body: 'Cantarelle', Noto, sans-serif;
        --font-mono: 'DejaVu Mono', Noto Mono, monospace;

        --h1-size: 3.5rem;
        --h2-size: 2.75rem;
        --h3-size: 2rem;
        --h4-size: 1.5rem;
        --h5-size: 1.25rem;
        --h6-size: 1.1rem;

        --code-bg: #1F1F23;
        --code-margin: 2rem 0;
        --code-frame: 1px solid #505050;

        --code-color-keyword: #FF0065;
        --code-color-string: #E633FF;
        --code-color-string-expression: #E633FF;
        --code-color-function: #FF21B3;
        --code-color-comment: #5FFDAE;
        --code-color-constant: #FF7B00;
        --code-color-parameter: #FFABAB;
        --code-color-punctuation: #E3E3E3;
        --code-color-link: #589DF6;
        
        --math-font: 'KaTeX_Main', sans-serif;
        --math-size: 1.2em;
    }
    
    .markdown-container {
        background-color: var(--background-color, transparent);
        padding: 40px 40px;
        font-family: var(--font-body, system-ui, sans-serif) sans-serif;
        color: var(--text-color, inherit);
        width: 100%;
        display: block;

        /* shiki theme */
        --astro-code-color-background: var(--code-bg);
        --astro-code-color-text: var(--code-color);
        --astro-code-token-constant: var(--code-color-constant);
        --astro-code-token-string: var(--code-color-string);
        --astro-code-token-comment: var(--code-color-comment);
        --astro-code-token-keyword: var(--code-color-keyword);
        --astro-code-token-parameter: var(--code-color-parameter);
        --astro-code-token-function: var(--code-color-function);
        --astro-code-token-string-expression: var(--code-color-string-expression);
        --astro-code-token-punctuation: var(--code-color-punctuation);
        --astro-code-token-link: var(--code-color-link);
    }

    /* body / heading */
    .markdown-container :global(h1),
    .markdown-container :global(h2),
    .markdown-container :global(h3),
    .markdown-container :global(h4),
    .markdown-container :global(h5),
    .markdown-container :global(h6) {
        color: var(--heading-color, inherit);
    }

    .markdown-container :global(h1) { font-size: var(--h1-size, 2.5rem); }
    .markdown-container :global(h2) { font-size: var(--h2-size, 2rem); }
    .markdown-container :global(h3) { font-size: var(--h3-size, 1.75rem); }
    .markdown-container :global(h4) { font-size: var(--h4-size, 1.5rem); }
    .markdown-container :global(h5) { font-size: var(--h5-size, 1.25rem); }
    .markdown-container :global(h6) { font-size: var(--h6-size, 1rem); }

    .markdown-container :global(p),
    .markdown-container :global(li),
    .markdown-container :global(blockquote),
    .markdown-container :global(td),
    .markdown-container :global(th),
    .markdown-container :global(h1),
    .markdown-container :global(h2),
    .markdown-container :global(h3),
    .markdown-container :global(h4),
    .markdown-container :global(h5),
    .markdown-container :global(h6) {
        color: var(--text-color, inherit);
        font-family: var(--font-body, system-ui, sans-serif), sans-serif;
    }

    /* monospace */
    .markdown-container :global(code) {
        font-family: var(--font-mono, monospace), monospace;
        color: var(--code-color, inherit);
        background-color: var(--code-bg) !important;
    }

    /* code blocks */
    .markdown-container :global(pre) {
        font-family: inherit;
        background-color: var(--code-bg) !important;
        margin: var(--code-margin, 1.5rem 0);
        border: var(--code-frame, 2px solid);
        padding: 1rem;
        overflow-x: auto;
    }

    /* code blocks no inside pre */
    .markdown-container :global(code:not(pre code)) {
        border: 1px solid var(--code-frame);
        padding: 4px 4px;
        border-radius: 4px;
        border: var(--code-frame, 0.5px solid);
        display: inline-block;
        vertical-align: baseline;
        line-height: 1;
    }

    /* math */
    .markdown-container :global(.katex) {
        font-size: var(--math-size, 1.1em) !important;
        color: var(--math-color, inherit) !important;
    }
</style>

<div class="markdown-container">
    <Content />
</div>